*{
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    height: 100vh;
}

.taskbar{
    background-color: #f3f3f3;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    transition: all 0.3s ease-in;
    z-index: 100;
}

#taskbarright{
    position: absolute;
    right: 0;
    margin: 6px 0;
    height: 85%;
}

.startmenu{
    position: absolute;
    bottom: -650px;
    text-align: center;
    width: 100%;
}

.startmenu img{
    border-radius: 10px;
}